.Navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFDE63;
  margin-top: 0px;
  margin: 0;
  padding: 20px 5% 20px 2%;
  height: 75px;
  align-items: center;
  position: fixed;

}

.nav_links{
  font-size: 20px;
  list-style: None;
  margin-left: 880px;
  margin-top: 0;
  display: flex;
  gap: 70px;
  padding: 0px;
}

.nav_links li a {
  color: black;
}

